<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <Logging>
        <LogLevel>
            <Default>Trace</Default>
        </LogLevel>
        <Console>
            <LogLevelToColorMap>
                <Trace>DarkGray</Trace>
                <Debug>Gray</Debug>
                <Information>White</Information>
                <Warning>Yellow</Warning>
                <Error>Red</Error>
                <Critical>DarkRed</Critical>
                <None>Cyan</None>
            </LogLevelToColorMap>
        </Console>
        <File>
            <LogDirectory>Logs</LogDirectory>
        </File>
    </Logging>
</configuration>